body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#arrow_downward i {
    font-size: 2.5em;
}

#result {
    display: none;
}


#mapid {
    height: 300px;
    margin: 0 10px;
}